 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top dark-section" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars" style="color: #AAA"></i>
                </button>
                <a class="navbar-brand page-scroll {% if page.language == 'EN' %} language-current" href="#page-top" {% else %} language-other" href='/' {% endif %}>
                    English
                </a>
                <a class="navbar-brand page-scroll {% if page.language == 'KH' %} language-current" href="#page-top" {% else %} language-other" href='/kh' {% endif %}>
                    ភាសាខ្មែរ
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">{{ page.txtAbout }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">{{ page.txtProjects }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#program">{{ page.txtProgram }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#reviewsSection">{{ page.txtReviews }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{{ page.txtContact }}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>