    <!-- Download Section -->
    <section id="projects" class="content-section text-left dark-section">
        <div class="projects-section">
            <div class="container">
            	<div class="row" style="padding-bottom: 15px">
	                <div class="col-md-8 col-md-offset-2">
	                    <h2>Student projects</h2>
	                    <p>Throughout the school many students have finished their personal projects. Here are some examples of the students talking about them:</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="embed-responsive embed-responsive-16by9">
		                    <iframe src="https://www.youtube.com/embed/PJhHjKIe7wY" frameborder="0" allowfullscreen></iframe>
		                </div>
		            </div>
					<div class="col-sm-4" style="padding-top: 15px">
						<h4>Menghour's Facebook bot for health problems</h4>
	                    <p>Menghour (a pharmacy student who has never programmed before in his life) has built a Facebook bot that helps Cambodian people who don't have an access to the healthcare system.</p>
	                </div>
	            </div>
				<div class="row" style="padding-top: 50px">
					<div class="col-sm-4" style="padding-top: 15px; text-align: right;">
						<h4>Chan Roath's music analysis</h4>
	                    <p>Chan Roath was working on the analysis of the music, like counting how many musical notes of each kind are used.</p>
	                </div>
					<div class="col-sm-6">
						<div class="embed-responsive embed-responsive-16by9">
		                    <iframe src="https://www.youtube.com/embed/2zafyA_RMEk" frameborder="0" allowfullscreen></iframe>
		                </div>
		            </div>
	            </div>
				<div class="row" style="padding-top: 50px">
					<div class="col-sm-6">
						<div class="embed-responsive embed-responsive-16by9">
		                    <iframe src="https://www.youtube.com/embed/Ayv0Y8WML6w" frameborder="0" allowfullscreen></iframe>
		                </div>
		            </div>
					<div class="col-sm-4" style="padding-top: 15px">
						<h4>Ratha's visualization of the music</h4>
	                    <p>Ratha (also never programmed before) has built a program to produce a video from the musical notes of any song.</p>
	                </div>
	            </div>
				<div class="row" style="padding-top: 50px">
					<div class="col-sm-4" style="padding-top: 15px; text-align: right;">
						<h4>Sam Ath's Facebook bot asking logical questions</h4>
	                    <p>Sam Ath has developed a Facebook bot that would ask a question per day every subscriber, summarize their results with daily statistics, and let them compete with friends.</p>
	                </div>
					<div class="col-sm-6">
						<div class="embed-responsive embed-responsive-16by9">
		                    <iframe src="https://www.youtube.com/embed/mHRbTpP4AKo" frameborder="0" allowfullscreen></iframe>
		                </div>
		            </div>
	            </div>
				<div class="row" style="padding-top: 50px">
					<div class="col-sm-6">
						<div class="embed-responsive embed-responsive-16by9">
		                    <iframe src="https://www.youtube.com/embed/xyZpqPsRSOY" frameborder="0" allowfullscreen></iframe>
		                </div>
		            </div>
					<div class="col-sm-4" style="padding-top: 15px">
						<h4>Sith's AI for the video games</h4>
	                    <p>During the course Sith has started working on an advanced AI for video games that would incorporate some recent ideas from the scientists working on the Artificial Intelligence.</p>
	                </div>
	            </div>
            </div>
        </div>
    </section>