    <!-- Download Section -->
    <section id="sponsors" class="content-section text-left">
        <div class="sponsors-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>{{ page.txtSponsors }}</h2>
                   	<div class="col-md-6 col-sm-5" style="padding-bottom: 15px"><a href="http://wolfram.com" class="img-link"><img src="/img/logos/Wolfram.png" class="img-link" alt="Wolfram Research" /></a></div>
                   	<div class="col-md-6 col-sm-5" style="padding-bottom: 15px"><a href="http://xix.ai" class="img-link"><img src="/img/logos/XIX.png" class="img-link" alt="XIX.AI" /></a></div>
                </div>
            </div>
        </div>
    </section>